# dependencies
/node_modules
/pglite-debug.log

# Firebase local emulator
/firebase-debug.log
.firebaserc

# IDE specific files
.vscode/
.idea/
.DS_Store

# dotenv files
/.env
/.env.local
/.env.development.local
