/* Status meters */
.status-bar {
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.status-bar-fill {
  height: 100%;
  border-radius: 6px;
  background-color: #00c853;
  transition: width 0.3s ease-in-out;
}
